In [116]:
import pandas as pd
import warnings
import pdfplumber
warnings.filterwarnings("ignore")

pdf = pdfplumber.open(r"C:\Users\59411\Documents\WeChat Files\wxid_y84cep6e8v0t22\FileStorage\File\2024-12\Mortalidad-RegDem-2015-17-NYT-part1.pdf")
result_df = pd.DataFrame()
month_dict = {'SEP':'09','OCT':'10','NOV':'11','DEC':'12','JAN':'01','FEB':'02','MAR':'03','APR':'04','MA':'05','JUN':'06','JUL':'07','AGO':'08',}


for i in range(12): 
    print(i)
    page = pdf.pages[i]  
    table = page.extract_table()  
    df = pd.DataFrame()
    df = df.append(table)
    end_row = df[df.iloc[:,0] == 'Total'].index[0]
    df.columns = df.iloc[0]
    df = df.iloc[1:end_row,0:4].reset_index(drop=True)  
    df.columns = df.columns.str.replace('Y', '', regex=False)
    df.columns = df.columns.str.replace('*', '', regex=False)
    result = []
    month = month_dict[df.columns[0]]
    for year in df.columns[1:4]:
        for index, day in enumerate(df[df.columns[0]]):
            result.append({'Date': f"{year}-{month}-{int(day):02d}", 'Outcome': df[year][index]})
    result = pd.DataFrame(result)
    result_df = result_df.append(result)
result_df = result_df[result_df['Outcome'] != '']
result_df['Date'] = pd.to_datetime(result_df['Date'],errors='coerce',  format='%Y-%m-%d')
result_df['Outcome'] = result_df['Outcome'].astype('int')
result_df.to_excel('PDF_TO_EXCEL.xlsx', index=False)

0
1
2
3
4
5
6
7
8
9
10
11

         Date  Outcome
0  2015-09-01       75
1  2015-09-02       77
2  2015-09-03       67
3  2015-09-04       71
4  2015-09-05       62
..        ...      ...
88 2017-08-27       96
89 2017-08-28       56
90 2017-08-29       80
91 2017-08-30       62
92 2017-08-31       75

[1065 rows x 2 columns]

In [117]:
result_df.to_excel('PDF_TO_EXCEL.xlsx', index=False)

In [118]:
import os
os.getcwd()

'E:\\jupyter code'